<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Rift Warriors</h1>
    <p>Indiana Tech's Traveling Competition Team!</p>
  </div>
</div>

<div class="well well-sm">
  <div class="container">

    <table class="table">
      <tr>
        <td>Position</td>
        <td>Name</td>
        <td>Summoner Name</td>
      </tr>

      <tr>
        <td>Top</td>
        <td>Michael Hall</td>
        <td>ElderWar</td>
      </tr>

      <tr>
        <td>Mid</td>
        <td>WenFeng Zhang</td>
        <td>ZhangWenFang</td>
      </tr>

      <tr>
        <td>Jungle</td>
        <td>Ze Lin</td>
        <td>TPPPOOOO</td>
      </tr>

      <tr>
        <td>ADC</td>
        <td>Rain Ye</td>
        <td>YeeRain</td>
      </tr>

      <tr>
        <td>Support</td>
        <td>Michael Egan</td>
        <td>MisterWizzy</td>
      </tr>

      <tr>
        <td>Alternate 1 </td>
        <td>David Wayne Hoot Junior</td>
        <td>Hoot991111</td>
      </tr>

      <tr>
        <td>Alternate 2 </td>
        <td>Danny Martin</td>
        <td>Vi Fathands</td>
      </tr>

      <tr>
        <td>Team Manager</td>
        <td>Alex Myers</td>
        <td>P3rishable</td>
      </tr>

    </table>
  </div>
</div>
