<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron-space">
  <div class="jumbotron content-gradient">
    <div class="container">
      <h1>Tech LOL Series</h1>
      <p>Our long running in-house team tournament!</p>
    </div>
  </div>
</div>

<div class="well well-sm content-gradient">
  <div class="container">

    <h2>Standings</h2>

    <table class="table">
      <tr>
        <td>Team Name</td>
        <td>Team Record</td>
      </tr>

      <!-- Team Names and Records -->
      <tr>
        <td>IT Host Club</td>
        <td>3-1</td>
      </tr>

      <tr>
        <td>Team Dodged it</td>
        <td>3-1</td>
      </tr>

      <tr>
        <td>CCTV</td>
        <td>2-1</td>
      </tr>

      <tr>
        <td>A Jew and some Gentiles</td>
        <td>1-1</td>
      </tr>

      <tr>
        <td>Cosmonauts</td>
        <td>0-1</td>
      </tr>

      <tr>
        <td>N00B LORD + The Scrubs</td>
        <td>0-2</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>

    <h2>Schedule</h2>
    <table class="table">
      <tr>
        <td><h4> Round 1 </h4></td>
        <td></td>
        <td><h4> October 20, 2013 - October 27, 2013 </h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>CCTV</td>
      </tr>
      <tr>
        <td>Bye</td>
        <td>vs</td>
        <td>Cosmonauts</td>
      </tr>
      <tr>
        <td>A Jew and Some Gentiles</td>
        <td>vs</td>
        <td>Team Dodged It</td>
      </tr>
      <tr>
        <td>Cuntilious</td>
        <td>vs</td>
        <td>N00b Lord + The Scrubs</td>
      </tr>

      <tr>
        <td><h4> Round 2 </h4></td>
        <td></td>
        <td><h4> October 27, 2013 - November 3, 2013</h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>Cosmonauts</td>
      </tr>
      <tr>
        <td>CCTV</td>
        <td>vs</td>
        <td>Team Dodged It</td>
      </tr>
      <tr>
        <td>Bye</td>
        <td>vs</td>
        <td>N00b Lord + The Scrubs</td>
      </tr>
      <tr>
        <td>A Jew and Some Gentiles</td>
        <td>vs</td>
        <td>Cuntilious</td>
      </tr>

      <tr>
        <td><h4> Round 3 </h4></td>
        <td></td>
        <td><h4> November 3, 2013 - November 10, 2013</h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>Team Dodged It</td>
      </tr>
      <tr>
        <td>Cosmonauts</td>
        <td>vs</td>
        <td>N00b Lord + The Scrubs</td>
      </tr>
      <tr>
        <td>CCTV</td>
        <td>vs</td>
        <td>Bye</td>
      </tr>
      <tr>
        <td>Bye</td>
        <td>vs</td>
        <td>A Jew and Some Gentiles</td>
      </tr>

      <tr>
        <td><h4> Round 4 </h4></td>
        <td></td>
        <td><h4> November 10, 2013 - November 17, 2013</h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>N00b Lord + The Scrubs</td>
      </tr>
      <tr>
        <td>Team Dodged It</td>
        <td>vs</td>
        <td>Bye</td>
      </tr>
      <tr>
        <td>Cosmonauts</td>
        <td>vs</td>
        <td>A Jew and Some Gentiles</td>
      </tr>
      <tr>
        <td>CCTV</td>
        <td>vs</td>
        <td>Bye</td>
      </tr>

      <tr>
        <td><h4> Round 5 </h4></td>
        <td></td>
        <td><h4> November 17, 2013 - November 24, 2013</h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>Bye</td>
      </tr>
      <tr>
        <td>N00b Lord + The Scrubs</td>
        <td>vs</td>
        <td>A Jew and Some Gentiles</td>
      </tr>
      <tr>
        <td>Team Dodged It</td>
        <td>vs</td>
        <td>Bye</td>
      </tr>
      <tr>
        <td>Cosmonauts</td>
        <td>vs</td>
        <td>CCTV</td>
      </tr>

      <tr>
        <td><h4> Round 6 </h4></td>
        <td></td>
        <td><h4> November 24, 2013 - December 1, 2013</h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>A Jew and Some Gentiles</td>
      </tr>
      <tr>
        <td>Bye</td>
        <td>vs</td>
        <td>Bye</td>
      </tr>
      <tr>
        <td>N00b Lord + The Scrubs</td>
        <td>vs</td>
        <td>CCTV</td>
      </tr>
      <tr>
        <td>Team Dodged It</td>
        <td>vs</td>
        <td>Cosmonauts</td>
      </tr>

      <tr>
        <td><h4> Round 7 </h4></td>
        <td></td>
        <td><h4> December 1, 2013 - December 8, 2013</h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>Bye</td>
      </tr>
      <tr>
        <td>A Jew and Some Gentiles</td>
        <td>vs</td>
        <td>CCTV</td>
      </tr>
      <tr>
        <td>Bye</td>
        <td>vs</td>
        <td>Cosmonauts</td>
      </tr>
      <tr>
        <td>N00b Lord + The Scrubs</td>
        <td>vs</td>
        <td>Team Dodged It</td>
      </tr>
    </table>
  </div>
</div>
