<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron-space">
  <div class="jumbotron content-gradient">
    <div class="container">
      <h1>Tech LOL Series</h1>
      <p>Our long running in-house team tournament!</p>
    </div>
  </div>
</div>

<div class="well well-sm content-gradient">
  <div class="container">

    <h2>Standings</h2>

    <table class="table">
      <tr>
        <td>Team Name</td>
        <td>Team Record</td>
        <td>Team Captain's Summoner Name</td>
        <td>Team Captain's Email</td>
      </tr>

      <!-- Team Names and Records -->
      <tr>
        <td>CCTV</td>
        <td>1-0</td>
        <td>YeeRain</td>
        <td>rye01@indianatech.net</td>
      </tr>

      <tr>
        <td>Team Dodged it</td>
        <td>1-0</td>
        <td>AnimusControl</td>
        <td>Prevention91@gmail.com</td>
      </tr>

      <tr>
        <td>IT Host Club</td>
        <td>0-1</td>
        <td>P3rishable</td>
        <td>myers3162002@gmail.com</td>
      </tr>

      <tr>
        <td>Cosmonauts</td>
        <td>0-1</td>
        <td>DissapointedFish</td>
        <td>gxlane@gmail.com</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <h2>Schedule</h2>
    <table class="table">
      <tr>
        <td><h4> Round 1 </h4></td>
        <td></td>
        <td><h4> Feb 9, 2014 - Feb 23, 2014 </h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>CCTV</td>
      </tr>
      <tr>
        <td>Team Dodged It</td>
        <td>vs</td>
        <td>Cosmonauts</td>
      </tr>

      <tr>
        <td><h4> Round 2 </h4></td>
        <td></td>
        <td><h4> Feb 23, 2014 - Mar 9, 2014 </h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>Cosmonauts</td>
      </tr>
      <tr>
        <td>CCTV</td>
        <td>vs</td>
        <td>Team Dodged It</td>
      </tr>

      <tr>
        <td><h4> Round 3 </h4></td>
        <td></td>
        <td><h4> Mar 9, 2014 - Mar 23, 2014 </h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>Team Dodged It</td>
      </tr>
      <tr>
        <td>Cosmonauts</td>
        <td>vs</td>
        <td>CCTV</td>
      </tr>

      <tr>
        <td><h4> Round 4 </h4></td>
        <td></td>
        <td><h4> Mar 23, 2014 - April 6, 2014 </h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>CCTV</td>
      </tr>
      <tr>
        <td>Team Dodged It</td>
        <td>vs</td>
        <td>Cosmonauts</td>
      </tr>

      <tr>
        <td><h4> Round 5 </h4></td>
        <td></td>
        <td><h4> April 6, 2014 - April 20, 2014 </h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>Cosmonauts</td>
      </tr>
      <tr>
        <td>CCTV</td>
        <td>vs</td>
        <td>Team Dodged It</td>
      </tr>

      <tr>
        <td><h4> Round 6 </h4></td>
        <td></td>
        <td><h4> April 20, 2014 - May 4th, 2014 </h4></td>
      </tr>
      <tr>
        <td>IT Host Club</td>
        <td>vs</td>
        <td>Team Dodged It</td>
      </tr>
      <tr>
        <td>Cosmonauts</td>
        <td>vs</td>
        <td>CCTV</td>
      </tr>
    </table>
  </div>
</div>
