<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Tech LOL Series</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TechLOL</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/events/index">Events</a></li>
            <li><a href="/rift_warriors/index">Rift Warriors</a></li>
            <li class="active"><a href="/tech_lol_series/index">Tech LoL Series</a></li>
            <li><a href="/photo_gallery/index">Photo Gallery</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Tech LOL Series</h1>
        <p>Our long running in-house team tournament!</p>
      </div>
    </div>

    <div class="container">

      <h2>Standings</h2>

      <table class="table">
        <tr>
          <td>Team Name</td>
          <td>Team Record</td>
        </tr>

        <!-- Team Names and Records -->
        <tr>
          <td>IT Host Club</td>
          <td>0-0</td>
        </tr>

        <tr>
          <td>CCTV</td>
          <td>0-0</td>
        </tr>

        <tr>
          <td>Cosmonauts</td>
          <td>0-0</td>
        </tr>

        <tr>
          <td>Team Dodged it</td>
          <td>0-0</td>
        </tr>

        <tr>
          <td>N00B LORD + The Scrubs</td>
          <td>0-0</td>
        </tr>

        <tr>
          <td>Cuntilious</td>
          <td>0-0</td>
        </tr>

        <tr>
          <td>A Jew and some Gentiles</td>
          <td>0-0</td>
        </tr>
      </table>

      <h2>Schedule</h2>
      <table class="table">
        <tr><td><h4> Round 1 </h4></td></tr>
        <tr>
          <td>IT Host Club</td>
          <td>vs</td>
          <td>CCTV</td>
        </tr>
        <tr>
          <td>Bye</td>
          <td>vs</td>
          <td>Cosmonauts</td>
        </tr>
        <tr>
          <td>A Jew and Some Gentiles</td>
          <td>vs</td>
          <td>Team Dodged It</td>
        </tr>
        <tr>
          <td>Cuntilious</td>
          <td>vs</td>
          <td>N00b Lord + The Scrubs</td>
        </tr>

        <tr><td><h4> Round 2 </h4></td></tr>
        <tr>
          <td>IT Host Club</td>
          <td>vs</td>
          <td>Cosmonauts</td>
        </tr>
        <tr>
          <td>CCTV</td>
          <td>vs</td>
          <td>Team Dodged It</td>
        </tr>
        <tr>
          <td>Bye</td>
          <td>vs</td>
          <td>N00b Lord + The Scrubs</td>
        </tr>
        <tr>
          <td>A Jew and Some Gentiles</td>
          <td>vs</td>
          <td>Cuntilious</td>
        </tr>

        <tr><td><h4> Round 3 </h4></td></tr>
        <tr>
          <td>IT Host Club</td>
          <td>vs</td>
          <td>Team Dodged It</td>
        </tr>
        <tr>
          <td>Cosmonauts</td>
          <td>vs</td>
          <td>N00b Lord + The Scrubs</td>
        </tr>
        <tr>
          <td>CCTV</td>
          <td>vs</td>
          <td>Cuntilious</td>
        </tr>
        <tr>
          <td>Bye</td>
          <td>vs</td>
          <td>A Jew and Some Gentiles</td>
        </tr>

        <tr><td><h4> Round 4 </h4></td></tr>
        <tr>
          <td>IT Host Club</td>
          <td>vs</td>
          <td>N00b Lord + The Scrubs</td>
        </tr>
        <tr>
          <td>Team Dodged It</td>
          <td>vs</td>
          <td>Cuntilious</td>
        </tr>
        <tr>
          <td>Cosmonauts</td>
          <td>vs</td>
          <td>A Jew and Some Gentiles</td>
        </tr>
        <tr>
          <td>CCTV</td>
          <td>vs</td>
          <td>Bye</td>
        </tr>

        <tr><td><h4> Round 5 </h4></td></tr>
        <tr>
          <td>IT Host Club</td>
          <td>vs</td>
          <td>Cuntilious</td>
        </tr>
        <tr>
          <td>N00b Lord + The Scrubs</td>
          <td>vs</td>
          <td>A Jew and Some Gentiles</td>
        </tr>
        <tr>
          <td>Team Dodged It</td>
          <td>vs</td>
          <td>Bye</td>
        </tr>
        <tr>
          <td>Cosmonauts</td>
          <td>vs</td>
          <td>CCTV</td>
        </tr>

        <tr><td><h4> Round 6 </h4></td></tr>
        <tr>
          <td>IT Host Club</td>
          <td>vs</td>
          <td>A Jew and Some Gentiles</td>
        </tr>
        <tr>
          <td>Cuntilious</td>
          <td>vs</td>
          <td>Bye</td>
        </tr>
        <tr>
          <td>N00b Lord + The Scrubs</td>
          <td>vs</td>
          <td>CCTV</td>
        </tr>
        <tr>
          <td>Team Dodged It</td>
          <td>vs</td>
          <td>Cosmonauts</td>
        </tr>

        <tr><td><h4> Round 7 </h4></td></tr>
        <tr>
          <td>IT Host Club</td>
          <td>vs</td>
          <td>Bye</td>
        </tr>
        <tr>
          <td>A Jew and Some Gentiles</td>
          <td>vs</td>
          <td>CCTV</td>
        </tr>
        <tr>
          <td>Cuntilious</td>
          <td>vs</td>
          <td>Cosmonauts</td>
        </tr>
        <tr>
          <td>N00b Lord + The Scrubs</td>
          <td>vs</td>
          <td>Team Dodged It</td>
        </tr>
      </table>

      <hr>

      <footer>
        <p>&copy; Alex Myers 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
