<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron-space">
  <div class="jumbotron content-gradient">
    <div class="container">
      <h1>TechLOL</h1>
      <p>This is a website for Indiana Tech's League of Legends group</p>
    </div>
  </div>
</div>

<!-- Example row of columns -->
<div class="well well-sm content-gradient">
  <div class="row">
    <div class="col-lg-4">
      <h2>Rift Warriors</h2>
      <p>TechLOL has official rostered the first E-sport team on Indiana Tech's Campus. Rift Warriors will be competing in online tournaments, as well as traveling to different colleges to compete in collegiate tournaments. </p>
      <p><a class="btn btn-default" href="rift_warriors/index">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Tech LOL Series</h2>
      <p>TechLOL has a long running internal tournament, similiar to the American Pro Scene LCS. This will consist of teams of 5 made up of club members, that compete against other teams in best of 3 games throughout the week.</p>
      <p><a class="btn btn-default" href="tech_lol_series/index">View details &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>Upcoming Events</h2>
      <p>If you want to know what events TechLOL is hosting, or what events that we will be involved in check out our events page!</p>
      <p><a class="btn btn-default" href="events/index">View details &raquo;</a></p>
    </div>
  </div>
</div>
