<div class="jumbotron-space">
  <div class="jumbotron content-gradient">
    <div class="container">
      <h1>Upcoming Events</h1>
      <p>Our events, or local League events that we will be participating in.</p>
    </div>
  </div>
</div>

<div class="container ">
  <div class="row">
    <div class="col-sm-12 well content-gradient">
      <div class="row">
        <div class="col-sm-1"><a href="http://www.childsplaycharity.org/" class="thumbnail">
          <%= image_tag "childsplay_logo.jpg" %>
        </a></div>
        <div class="col-sm-9">
          <h3>TechLOL Child's Play Charity Tournament</h3>
          <p> February 21, 2014 at 7:00pm until February 22, 2014 at 3:00pm </p>
          <p> This will be a double elimination 5v5 tournament. It will be held in the Andorfer Conference Room on the 2nd floor. This will be updated as more information get finalized.</p>
          <p> All proceeds will go towards <%= link_to("Child's Play Charity", "http://www.childsplaycharity.org/") %> </p>
        </div>
      </div>
    </div>
	</div>
</div>

