<div class="jumbotron-space">
  <div class="jumbotron content-gradient">
    <div class="container">
      <h1>Upcoming Events</h1>
      <p>Our events, or local League events that we will be participating in.</p>
    </div>
  </div>
</div>

<div class="container ">
  <div class="row">
    <div class="col-sm-12 well content-gradient">
      <div class="row">
        <div class="col-sm-3"><a href="http://www.fortlan.org" class="thumbnail">
          <%= image_tag "fortlan.jpg" %>
        </a></div>
        <div class="col-sm-9">
          <h3>FortLan 3 League of Legends Tournament</h3>
          <p> FortLan is having Leagues of Legends tournament (5 v 5) - Bring your own team. </p>
          <%=link_to("FortLan 3 Signup", "http://www.fortlan.org/events/fortlan-iii-11082013-11092013/") %> <br />
          <%=link_to("Facebook Event", "https://www.facebook.com/events/558975024168326/?ref_newsfeed_story_type=regular&source=1") %>
        </div>
      </div>
    </div>
	</div>
</div>

