<!DOCTYPE html>
<html>
  <head>
    <title>TechLOL</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <div class="navbar nav-bar-image navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TechLOL</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">
              <li><a href="/">Home</a></li>
              <li><a href="/events/index">Events</a></li>
              <li><a href="/rift_warriors/index">Rift Warriors</a></li>
              <li><a href="/tech_lol_series/index">Tech LoL Series</a></li>
              <li><a href="/photo_gallery/index">Photo Gallery</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    </header>

    <div class="container">
      <body class="background">
        <%= yield %>

        <footer>
          <p class="footer">&copy; Alex Myers 2013</p>
        </footer>
      </body>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40058244-2', 'techlol.herokuapp.com');
      ga('send', 'pageview');

    </script>

    <%= javascript_include_tag "application" %>
  </body>
</html>
